/* Cores */
:root{
  --blue: #095092;
  --blue-light: #F8F9FC;
  --white: #fff;
  --grey: #ccc
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--grey);
  border-radius: 8px;
  font-size: 1.125rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.075);
  max-width: 800px;
}

/* Cabeçalho */
table tr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
table th {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  padding: .75rem 1rem;
}

/* Células */
table td {
  border-right: 1px solid var(--grey);
  padding: 10px 8px;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: var(--blue-light); 
}

tr:nth-child(odd) {
  background-color: var(--white); 
}
.pontuacao{
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
}

/* ---- */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  padding-left: 8px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 0.875rem;
  visibility: hidden;
  width: 120px;
  background-color: #353535;
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover{
  cursor: pointer;
}
