.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px !important;
  border: 1px solid #ccc;
  font-size: 1.125rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.075);
  max-width: 900px;
}
.table tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.table th {
  background-color: #095092;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.table td {
  border-right: 1px solid #ccc;
  padding: 10px 8px;
  font-size: 1rem;
}
.table thead th:first-child {
  border-right: 1px solid #fff;
}
.table tr:nth-child(even) {
  background-color: #F8F9FC;
}
.table tr:nth-child(odd) {
  background-color: #fff;
}

.pontuacao {
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  padding-left: 8px;
  background-color: #095092;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip .tooltiptext {
  font-size: 0.875rem;
  color: #fff;
  visibility: hidden;
  width: 400px;
  background-color: #353535;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #353535 transparent transparent transparent;
}
@media screen and (max-width: 960px) {
  .tooltip .tooltiptext {
    line-height: 120%;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}