.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px !important;
  border: 1px solid $grey;
  font-size: 1.125rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.075);
  max-width: 900px;
  tr{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  th{
    background-color: $blue;
    color: $white;
    font-weight: 700;
    padding: .75rem 1rem;
  }
  td{
    border-right: 1px solid $grey;
    padding: 10px 8px;
    font-size: 1rem;
  }
  thead{
    th{
      &:first-child{
        border-right: 1px solid #fff
      }
    }
  }
  tr:nth-child(even) {
    background-color: $blue-light; 
  }
  
  tr:nth-child(odd) {
    background-color: $white; 
  }
}

.pontuacao{
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
}